@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Sigmar&display=swap');

:root {
  /*COLORS*/
  --BGCOLOR: #003049;
  --BORDER-COLOR: #D5F2E3;
  --WINE: #6B2737;
  --SYRACUSE: #D45113;
  --LINK-COLOR: #caf7f7;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: whitesmoke;
  --TABLE-COLOR: #000;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  /*FONTS*/
  --SANS: 'Josefin Sans', sans-serif;
  --CURSIVE: 'Sigmar', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--WINE);
  display: grid;
  place-content: center;
}

.icon-button:hover, icon-button:focus-visible {
  transform: scale(1.2);
}
.icon-button[disabled] {
  visibility: hidden;
}

/* ||GENERAL STYLES */
body {
  font-family: var(--SANS);
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--SYRACUSE);
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: top-right;
  background-blend-mode: multiply;
}

input, button, textarea, select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: var(--LINK-COLOR);
}

a:hover, a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */
.public, .welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public__main, .login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➡️"
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

h1 {
  color: var(--WINE);
}
